body {
	margin: 0px;
	padding: 0px;
    background-color: #eeeeee !important;
}
pre{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff !important;
    font-size: 13px !important;
    font-family: arial !important;
    color: #000 !important;
    border: none !important;
    border-radius: none !important;
}
.navbar-inverse{
    background-color: #323232 !important;
}
#loginBody{
	max-width: 400px;
}
#loginForm{
	margin-bottom:10px;
}
#loginbtn{
	margin-right: 10px;
}
#signupBody{
	max-width: 400px;
}
#signupForm{
	margin-bottom:10px;
}
#searchHeader{
	margin-top: 8px;
}
.max-width-1000{
    max-width: 1000px !important;
}

/* POSTS */
.posts{
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px !important;
    margin-bottom: 10px;
}
.posts-user-link a{
    font-weight: bold;
    color: #1a9f00;
}
.posts-user-link a:hover{
    color: #196b00;
}
.posts-date span{
    color: #777;
    font-size: 12px;
}
.posts-sub-block{
    width: 100%;
    float: left;
}
.posts-content{
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.posts-info{
    color: #777;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding-top: 4px;
    padding-bottom: 4px;
}
.posts-func{
    color: #777;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 4px;
}
.like{
    color: #1a9f00;
}
.posts-func-like{
    float:left;
    cursor: pointer;
}
.posts-info-item{
    margin-right:5px;
    display: inline;
}
.posts-like-btn{
    padding: 4px;
}
.posts-comment{
    font-size: 13px;
}
.posts-comment a{
    color: #1a9f00;
    margin-right: 6px;
}
.posts-comment a:hover{
    color: #196b00;
    text-decoration: none;
}
.posts-comment-date{
    width: 100%;
    font-size: 10px;
    color: #777;
    text-align: right;
}
.posts-comments-more{
    text-align: center;
    font-size: 12px;
}
.posts-comments-more a:hover{
    text-decoration: none;
}
.to-right{
    float: right;
}
.to-left{
    float: left;
}
.posts-comments-btn{
    color: #337ab7;
}
#userInfoNav{
    padding: 5px;
}
#userInfoNav img{
    padding: 5px;
    max-height: 40px;
    display: inline;
}
#userInfoNav a{
    display: inline;
    padding-left:5px !important;
}

.profile_left_info{
    margin-top:20px;
    padding-left: 10px;
    border-left: 1px solid #AAAAAA;
}

.btn-green{
     background-color: #1a9f00;
     color: #fff;
}

.btn-green:hover{
    background-color: #196b00;
    color: #fff !important;
}

#leftProfile{
    position: fixed;
    top: 70px;
}
#leftProfile img{
    max-width: 230px;
}