body {
	margin: 0px;
    padding-top: 70px;
    background-color: #eeeeee !important;
}
pre{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff !important;
    font-size: 13px !important;
    font-family: arial !important;
    color: #000 !important;
    border: none !important;
    border-radius: none !important;
}
.red{
    color: red !important;
}
.green-afeka{
    color: #1a9f00 !important;
}
.padding-bottom-0{
    padding-bottom: 0px !important;
}

@media(min-width:768px){
    .modal-dialog {
        width: 80% !important;
    }
}
#leftSide{
    padding-top: 15px;
}
.navbar-inverse{
    background-color: #323232 !important;
}
#loginBody{
	max-width: 400px;
}
#loginForm{
	margin-bottom:10px;
}
#loginbtn{
	margin-right: 10px;
}
#signupBody{
	max-width: 400px;
}
#signupForm{
	margin-bottom:10px;
}
#searchHeader{
	margin-top: 8px;
}
#searchList{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px !important;
}
#searchList li a{
    padding: 0px !important;
}
#searchList li img{
    padding-right: 5px !important;
}
.max-width-1000{
    max-width: 1000px !important;
}

#uploadPostImagesFeedBack{
    padding-left: 5px;
}
/* POSTS */
.posts{
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px !important;
    margin-bottom: 10px;
}
.posts-user{
    padding-right: 4px !important;
}
.posts-user-link a{
    font-weight: bold;
    color: #1a9f00;
}
.posts-user-link a:hover{
    color: #196b00;
}
.posts-delete-btn{
    text-decoration: none !important;
    font-size: 24px !important;
    font-weight: normal !important;
}
.posts-profile-image{
    padding-right: 10px !important;
    padding-left: 0px !important;
}
.posts-date a{
    color: #777;
    font-size: 12px;
    margin-right: 5px;
}
.posts-date a:hover{
    text-decoration: none;
}
.posts-sub-block{
    width: 100%;
    float: left;
}
.posts-content{
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.posts-info{
    color: #777;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    padding-top: 4px;
    padding-bottom: 4px;
}
.posts-func{
    color: #777;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 4px;
}
.like{
    color: #1a9f00;
}
.posts-func-like{
    float:left;
    cursor: pointer;
}
.posts-info-item{
    margin-right:5px;
    display: inline;
}
.posts-like-btn{
    padding: 4px;
}
.posts-comments{
    max-height: 210px !important;
    height: auto !important;
    overflow-y: auto;
}
.posts-comments::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}
.posts-comments::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #dddddd;
}
.posts-comment{
    font-size: 13px;
}
.posts-comment a{
    color: #1a9f00;
    margin-right: 6px;
}
.posts-comment a:hover{
    color: #196b00;
    text-decoration: none;
}
.posts-comment-date{
    width: 100%;
    font-size: 10px;
    color: #777;
    text-align: right;
}
.posts-comments-more{
    text-align: center;
    font-size: 12px;
}
.posts-comments-more a:hover{
    text-decoration: none;
}
.to-right{
    float: right;
}
.to-left{
    float: left;
}
.posts-comments-btn{
    color: #337ab7;
}
.posts-edit-options{
    margin-top: 7px;
}
.img-dialog-btn{
    cursor: pointer !important;
}
.img-profile-search{
    max-height: 35px;

}

.posts-image-thumbnail{
    padding: 4px !important;
}

#userInfoNav{
    padding: 5px;
}
#userInfoNav img{
    padding: 5px;
    max-height: 40px;
    display: inline;
}
#userInfoNav a{
    display: inline;
    padding-left:5px !important;
}

.profile-left-info{
    margin-top:20px;
    padding-left: 10px;
    border-left: 1px solid #AAAAAA;
}
.posts-filters{
    margin-bottom: 10px;
}

.posts-filters span{
    color: #666666;
    margin-right: 8px;
}

.posts-filters > .selected{
    background-color: #196b00;
}

.posts-filter-item{
    margin: 5px !important;
}

.btn-green{
     background-color: #1a9f00;
     color: #fff;
}

.btn-green:hover{
    background-color: #196b00;
    color: #fff !important;
}

#leftProfile{
    position: fixed;
    top: 70px;
}
#leftProfile img{
    max-width: 230px;
}

#imageModalImg{
    margin: 0 auto;
}
#imageModalleft{
    background-color: #323232;
}
#imageModalRight{
    padding: 0 !important;
}
#imageModalRow{
    margin: 0 !important;
}
#imageModalBody{
    padding: 0 !important;
}
#prevImageModal{
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 50px;
    opacity: 0.7;
    cursor: pointer;
}
#nextImageModal{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 50px;
    opacity: 0.7;
    cursor: pointer;
}

#nextImageModal:hover{
    opacity: 1;
}

#prevImageModal:hover{
    opacity: 1;
}

#imagesNav{
    position: absolute;
    bottom: 15px;
    left: 45%;
}
#imagesNav span{
    padding: 3px;
    margin: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    height: 8px;
    width: 8px;
    opacity: 0.7;
}
#imagesNav span:hover{
    opacity: 1;
}
#imagesNav > .selected{
    background-color: #1a9f00;
    opacity: 1;
}
/*
#nextImageModal span{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20;
}
#nextImageModal span{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20;
}*/
.upload-post-images-lable{

}
#uploadPostImages{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}