doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/resources/css/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/resources/js/postController.js')
        script(src='/resources/js/searchController.js')
        script(src='/resources/js/profileController.js')
        script(src='/resources/js/utilitiesControllers.js')
    body
        include fragments/header.pug
        .container-fluid.max-width-1000
            .row
                .col-md-3.col-sm-3
                    .affix
                        include fragments/profileLeft.pug
                .col-md-6.col-sm-6
                    include fragments/addPost.pug
                    .posts-filters
                        ul.nav.nav-tabs
                            li(role='presentation', class=( postsFilter === 'all' ? 'active' : ''))
                                a(href='/profile/'+profile.id) All
                            li(role='presentation', class=( postsFilter === 'photos' ? 'active' : ''))
                                a(href='/profile/'+profile.id+'/photos') Photos
                            li(role='presentation', class=( postsFilter === 'external' ? 'active' : ''))
                                a(href='/profile/'+profile.id+'/external') External
                            li(role='presentation', class=( postsFilter === 'text' ? 'active' : ''))
                                a(href='/profile/'+profile.id+'/text') Text
                    #postsContainer
                        include fragments/posts.pug

                .col-md-3.col-sm-3
                    include fragments/profileRight.pug
        include fragments/imageModal.pug
        script.
            postController.init();
            profileController.init();
            //scrollProfileLeft.init();
            imageDialog.init();
            searchController.init();