.container-fluid.posts
    .posts-sub-block
        .col-md-2.col-sm-2.col-xs-2.posts-profile-image
            img.img-circle.img-responsive(src='/images/profile/tmb_'+user.imagePath)
        .col-md-10.col-sm-10.col-xs-10
            .posts-user-link
                a(href='/profile/') #{user.displayName}
            .posts-date
                span just now
    form#addPostForm(action='posts/add', method='POST', enctype='multipart/form-data')
        .posts-content.posts-sub-block.padding-bottom-0
            textarea#newPostContentInput.form-control(name='content', placeholder='Share something with your friends...')
            .posts-func.posts-sub-block
                label.btn.btn-default(for='uploadPostImages', class='upload-post-images-lable')
                    span.glyphicon.glyphicon-picture
                    |  Photos
                |  Maximum 4 photos
                input.form-control(type='file', multiple, name='uploadPostImages', id='uploadPostImages')
        .posts-func.posts-sub-block
            lable
                input(type='checkbox', name='privacy')
                | Private
            button.btn.btn-primary.posts-info-item.to-right(type='submit') Publish
    #addPostErrors
