nav.navbar.navbar-default
    .container-fluid.max-width-1000
        .navbar-header
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar

        .collapse.navbar-collapse#myNavbar
            ul.nav.navbar-nav
                li
                    a.navbar-brand(href="/") FaceAfeka
                li
                    input#searchHeader.form-control(type='text', placeholder='Search')
            ul.nav.navbar-nav.navbar-right
                li
                    a(href= '/profile') #{user.displayName}
                li
                    a(href='/logout') Logout



