nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid.max-width-1000
        .navbar-header
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar

        .collapse.navbar-collapse#myNavbar
            ul.nav.navbar-nav
                li
                    a#logo.navbar-brand(href="/") FaceAfeka
                li
                    input#searchHeader.form-control.dropdown-toggle(type='text', placeholder='Search')
                    ul#searchList.dropdown-menu
            ul.nav.navbar-nav.navbar-right
                li#userInfoNav
                    img(src='/images/profile/tmb_'+user.imagePath, class='img img-responsive img-circle')
                    a(href= '/profile') #{user.displayName}
                li
                    a(href='/logout') Logout



