#imageModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            #imageModalBody.modal-body
                #imageModalRow.row
                    #imageModalleft.col-md-8.col-sm-8
                        #prevImageModal
                            span.glyphicon.glyphicon-chevron-right
                        img#imageModalImg.img.img-responsive(src='')
                        #nextImageModal
                            span.glyphicon.glyphicon-chevron-left
                    #imageModalRight.col-md-4.col-sm-4