//
   Created by Guy on 8/4/2017.
img.profile-img.img-responsive.img-circle(src='/images/profile/'+profile.imagePath, data-toggle="modal", data-target="#imageModal")
.profile-left-title #{profile.displayName}
.profile-left-info
    .profile-left-info-email #{profile.email}
    if profile.id !== user.id
        .profile_left_info_add_friend
            - if (friends.indexOf(profile.id) <= -1)
                button#profileFriendBtn.btn.btn-green(data-profileid = profile.id) Add friend
            - else
                button#profileFriendBtn.btn(data-profileid = profile.id) Unfriend

.profile-left-subtitle #{profile.friends.length} Friends
.profile-left-friends
    if profile.friends
        each friend in profile.friends
            .profile-left-friend
                img.img.img-responsive.img-circle(src='/images/profile/tmb_'+friend.imagePath)
                a(href='/profile/'+friend.id) #{friend.displayName} <br>