//
   Created by Guy on 8/5/2017.
.profile-left-subtitle
    span Recent photos
    a(href='/profile/'+profile.id+'/gallery') Gallery
.profile-left-photos
    if userPhotos
        .row.row-eq-height
            each photo in userPhotos
                .col-md-6.col-sm-6.col-xs-6.posts-image-thumbnail
                    img.img-dialog-btn.img.img-responsive.img-thumbnail(src='/images/post/' + photo.imagePath, data-toggle="modal", data-target="#imageModal", data-postid=''+photo.postId)